// color scheme of app
$fontColor: #F8F9FA;

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$bodyFont: 'Open Sans', sans-serif;
$styleFont: 'Noto Sans JP', sans-serif;