@import './sass/setup';
@import './sass/variables';
@import './sass/landingpage';

body {
    background-color: #343A40;
}

img {
    display: block;
}

p  {
    color: $fontColor;
    font: 400 1.2rem $bodyFont;
}