@import './sass/setup';
@import './sass/variables';
@import './sass/mixin';
@import './sass/authenication';
@import './sass/main';
@import './sass/controllers';

body {
    background-color: $mainGrey;
}

img {
    display: block;
}

p  {
    color: $fontColor;
    font: 400 1.2rem $bodyFont;
}