@import './sass/setup';
@import './sass/variables';
@import './sass/mixin';
@import './sass/authenication';
@import './sass/main';
@import './sass/controllers';

body {
    background-color: $mainGrey;
}

img {
    display: block;
}

p  {
    color: $fontColor;
    font: 400 1.2rem $bodyFont;
}

// Alice Carasoul style
.sliderimg{
    border: 8px solid $styleColor;
    border-radius: 15px;
    margin: 100px auto;
    width: 30%;
    height: 30%;
    object-fit: cover
}

.alice-carousel__prev-btn-item {
    color: $styleColor;
}